# Workaround to fix urllib3 version conflict with `vcrpy` while using `uv` and `poetry`
urllib3 <2; platform_python_implementation =='PyPy'
urllib3 >= 2.1.0, < 3.0.0; platform_python_implementation !='PyPy'
python_dateutil >= 2.8.2
pydantic >= 2
typing-extensions >= 4.7.1
Flask >= 3.0.0
